* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/sic2.jpeg");
  background-position: center;
  background-size: cover; }
  section #check {
    z-index: 3;
    display: none; }
  section header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    section header .logo {
      position: relative;
      color: #31a114;
      font-size: 30px;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 1px; }
    section header .navigation a {
      color: #31a114;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 1px;
      padding: 2px 15px;
      border-radius: 20px;
      transition: 0.3s;
      transition-property: background; }
      section header .navigation a:not(:last-child) {
        margin-right: 30px; }
      section header .navigation a:hover {
        background: #fff; }
    section header label {
      display: none; }
  section .content {
    max-width: 650px;
    margin: 60px 100px; }
    section .content .info h2 {
      color: #356828;
      font-size: 55px;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 2px;
      line-height: 60px;
      margin-bottom: 30px; }
      section .content .info h2 span {
        color: #23461b;
        font-size: 50px;
        font-weight: 600;
        line-height: 60px;
        letter-spacing: 2px; }
    section .content .info p {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 40px;
      color: #23461b; }
    section .content .info-btn {
      color: #fff;
      background: #23461b;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      padding: 10px 20px;
      border-radius: 5px;
      transition: 0.5s ease; }
      section .content .info-btn:hover {
        background: #356828; }
  section .media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; }
    section .media-icons a {
      position: relative;
      color: #356828;
      font-size: 25px;
      transition: 0.3s; }
      section .media-icons a:not(:last-child) {
        margin-right: 60px; }
      section .media-icons a:hover {
        transform: scale(1.5); }

@media (max-width: 960px) {
  section #check:checked + header .navigation {
    z-index: 2;
    position: fixed;
    background: rgba(53, 104, 40, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    section #check:checked + header .navigation a {
      font-weight: 700;
      margin-right: 0;
      margin-bottom: 50px;
      letter-spacing: 2px; }
  section #check:checked + header label .menu-btn {
    display: none; }
  section #check:checked + header label .close-btn {
    z-index: 2;
    display: block;
    position: fixed; }
  section header .navigation {
    display: none; }
  section header .logo {
    position: absolute;
    bottom: -6px; }
  section header label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s; }
    section header label .menu-btn {
      position: absolute; }
    section header label:hover {
      color: #fff; }
    section header label .close-btn {
      display: none; }
  section .content .info p {
    font-size: 14px; }
  section .content .info h2 {
    font-size: 45px;
    line-height: 50px; }
    section .content .info h2 span {
      font-size: 40px;
      font-weight: 600; } }

@media (max-width: 560px) {
  section .content .info h2 {
    font-size: 35px;
    line-height: 40px; }
    section .content .info h2 span {
      font-size: 30px;
      font-weight: 600; }
    section .content .info h2 p {
      font-size: 14px; } }
